In [10]:
import zipfile
import pandas as pd

In [11]:
with zipfile.ZipFile("../data/titanic.zip","r") as zip_ref:
    zip_ref.extractall("../data/titanic")

In [12]:
train_set = pd.read_csv("../data/titanic/train.csv", index_col="PassengerId")
test_set = pd.read_csv("../data/titanic/test.csv", index_col="PassengerId")

In [13]:
train_set.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S